:root {
  --hover-font-color: rgba(245, 39, 91, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ysabeau', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
